@using System.Drawing
@using Microsoft.AspNetCore.Identity;
@using GameForum.Models.DTO
@using GameForum.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Mvc.Localization

@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/" asp-append-version="true" />
    <!-- Підключення Bootstrap CSS та JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .navbar-nav {
            display: flex;
            flex-direction: row-reverse;
        }

        .nav-item:last-child {
            margin-left: auto;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md" style="background-color: rgba(0, 0, 0, 0.8); position: page fixed;">
            <div class="container">
                <img id="dicelogo" src="~/pic/dicelogo.png" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-wheat" href="/Forum/Main">D20</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-wheat" href="/Topics/Index">Теми</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-wheat" href="#">Повідомлення</a>
                        </li>
                    </ul>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-wheat" href="/Forum/Account/@UserManager.GetUserId(User)">Профіль</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-wheat" href="/UserAuth/Logout">Вийти</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-wheat" href="/UserAuth/Login">Увійти</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-wheat" href="/UserAuth/Registr">Реєстрація</a>
                        </li>
                    </ul>
                }
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
