@using Microsoft.AspNetCore.Identity
@model GameForum.ViewModels.UpdPasswordViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<style>
    .container1 {
        display: flex;
        justify-content: center; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
        min-height: 100vh; /* Set minimum height to the full viewport height */
    }

    .card {
        width: 50%; /* Adjust the card width as needed */
        margin: 20px;
        padding: 20px;
        background-color: rgba(0,0,0, 0.8);
        color: wheat;
    }

    .user-image {
        max-width: 50%;
        height: auto;
        border-radius: 50%; /* Make the image round */
    }

    .profile-info {
        margin-top: 20px;
    }
</style>

<p></p>

<div class="container">

    <div class="card">
        <p hidden><strong>Id:</strong> @Model.Id</p>

        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="OldPassword" class="control-label">
                    <strong>Old Password</strong>
                </label>
                <input asp-for="OldPassword" type="password" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">
                    <strong>New Password</strong>
                </label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">
                    <strong>Confirm New Password</strong>
                </label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </div>

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Message"]
                </div>
            }
        </form>
    </div>
</div>