@{

}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форум</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LAB1.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <form class="main-box">
                <p></p>
                <p>Привіт, ти на форумі D20, колись, можливо, він переросте в щось більше ніж жахливий трай у переписку</p>
                <p>Можливо колись ви зможете тут грати в ДнД і говорити на самі різні теми</p>
                <p>Але зараз це лише чиясь курсова робота</p>
                <img src="~/css/dark-souls-bonfire.gif" alt="Гіфка" class="img-fluid">
                <p></p>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
