.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: wheat;
    background-color: rgb(0,0,0,0.8);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-color: rgb(255, 255, 255);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .form-control:hover {
        color: wheat;
    }

    .form-control:focus {
        background-color: rgb(0,0,0,0.8); /* Новий колір фону */
        border-color: rgb(255, 255, 255); /* Новий колір рамки */
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Додавання підсвічування при фокусі */
        color: wheat;
    }