html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("background.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: lightgray;
}

#dicelogo {
    width: 80px; /* Ширина в пикселях или других единицах измерения */
    height: auto; /* Автоматическое соотношение сторон для сохранения пропорций */
}

/* Стили для навигационной панели */
.navbar {
    background-color: #cba3d8;
}

/* Збільшення розміру тексту в хедері вдвічі */
.nav-link {
    font-size: 20px;
    color: wheat !important;
}

/* Стилізація вкладок */
/* Забираємо рамку (обводку) */
.nav-tabs .nav-item {
    border: none !important;
}

    /* Пофарбовуємо фон у колір #212529 і збільшуємо прозорість на 20% */
    .nav-tabs .nav-item a.nav-link {
        background-color: rgba(0, 0, 0, 0.8) !important;
    }

        /* Текст неактивної панелі буде сірим, не білим */
        .nav-tabs .nav-item a.nav-link:not(.active) {
            color: #6c757d !important;
        }

/*Стиль для фону змісту вкладок*/
.tab-pane-bg {
    background-color: rgba(33, 37, 41, 0.2) !important; /* Колір та прозорість фону */
    padding: 20px; /* Додайте бажаний padding для внутрішнього вмісту */
    border-radius: 8px; /* Додайте бажаний радіус кутів */
}

/* Стилізація вкладок */

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.7rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

/* cтилі для кнопки "+" */
.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Чорний фон */
    border: 2px solid white; /* Білі рамки */
    padding: 0;
    border-radius: 6px; /* Заокруглені кути */
    opacity: 0.8; /* Прозорість 0.8 */
    color: wheat; /* Білий текст */
    padding: 10px 20px; /* Подбайте про відстань між текстом і краями кнопки */
    cursor: pointer; /* Змінює вигляд курсора при наведенні */
    transition: background-color 0.3s; /* Плавна анімація зміни кольору фону */
}

    .fixed-button:hover {
        background-color: rgba(0, 0, 0, 0.4); /* Світліший фон при наведенні */
    }

    .fixed-button p {
        margin: 0; /* Видалити внутрішній відступ у тексту */
    }

.form-button {
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Чорний фон */
    border: 2px solid white; /* Білі рамки */
    padding: 0;
    border-radius: 6px; /* Заокруглені кути */
    opacity: 0.8; /* Прозорість 0.8 */
    color: wheat; /* Білий текст */
    padding: 10px 20px; /* Подбайте про відстань між текстом і краями кнопки */
    cursor: pointer; /* Змінює вигляд курсора при наведенні */
    transition: background-color 0.3s; /* Плавна анімація зміни кольору фону */
}

    .form-button:hover {
        background-color: rgba(0, 0, 0, 0.4); /* Світліший фон при наведенні */
    }

    .form-button p {
        margin: 0; /* Видалити внутрішній відступ у тексту */
    }

/* Стилі для модальної форми */
/*.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 37, 41, 0.6);*/ /* Колір фону з прозорістю */
    /*z-index: 9999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    color: white;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.input-field {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #DE6210;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .submit-button:hover {
        background-color: #de3d10;
    }*/

/*КСС для тестової теми*/
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: white;
    vertical-align: top;
    border-color: #dee2e6;
}
/*КСС для тестової теми*/

/*Ксс для вмістилища всяких постів*/
.custom-box {
    background-color: rgba(0, 0, 0, 0.8);
    color: wheat;
    border-radius: 10px;
    padding: 20px;
    border: none; /* Білі рамки */
    text-align: left;
    width: 98%;
}

.review-box {
    background-color: transparent;
    color: wheat;
    border-radius: 10px;
    padding: 20px;
    border: none; /* Білі рамки */
    text-align: left;
    width: 98%;
}

.details-form {
    background-color: rgba(0, 0, 0, 0.4);
    color: wheat;
    border-radius: 10px;
    padding: 20px;
    border: none; /* Білі рамки */
    text-align: left;
    width: 98%;
}

.review-form {
    background-color: rgba(0, 0, 0, 0.4);
    color: wheat;
    border-radius: 10px;
    padding: 20px;
    border: none; /* Білі рамки */
    text-align: left;
    width: 98%;
}

.no-review-form {
    background-color: rgba(255,0,0, 0.4);
    color: wheat;
    border-radius: 10px;
    padding: 20px;
    border: none; /* Білі рамки */
    text-align: left;
    width: 98%;
}

.box-title {
    font-size: 18px;
}

.box-description {
    font-size: 18px;
}

.box-createdat {
    font-size:12px;
    font-style:italic;
}
/*Ксс для вмістилища всяких постів*/

.centered-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Стилізація форми логіну */
.login-form {
    background-color: rgba(0, 0, 0, 0.4);
    color: wheat;
    border-radius: 10px;
    padding: 20px;
    border: none;
    text-align: left;
    width: 300px;
    margin: auto;
    margin-top: 100px;
}

    /* Стилізація елементів введення (input) */
    .login-form input {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
        border-radius: 3px;
    }

    /* Стилізація кнопки */
    .login-form button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        margin-top: 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

        .login-form button:hover {
            background-color: #45a049;
        }

    /* Стилізація посилання на реєстрацію та повідомлення */
    .login-form a, .msg, .text-info {
        color: dodgerblue;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
    }

        .login-form a:hover {
            text-decoration: underline;
        }

/* Додайте ці стилі в ваш стиль або файл CSS */
.ck.ck-reset_all,
.ck.ck-reset_all * {
    color: wheat !important;
}

    /* Налаштування для панелі інструментів (toolbar) */
    .ck.ck-reset_all .ck-toolbar {
        background-color: rgba(0, 0, 0, 0.8) !important; /* Колір темного фону панелі інструментів */
        color: wheat !important; /* Колір тексту на темному фоні панелі інструментів */
    }

    /* Колір тексту та фону для кнопок на панелі інструментів */
    .ck.ck-reset_all .ck-toolbar-button {
        color: wheat !important;
        background-color: rgba(0, 0, 0, 0.8) !important;
        transition: background-color 0.2s ease-in-out; /* Зміна кольору плавно протягом 0.2 секунд при наведенні */
    }

        /* Колір тексту та фону для вибраних кнопок на панелі інструментів */
        .ck.ck-reset_all .ck-toolbar-button.ck-on {
            color: wheat !important; /* Колір тексту вибраної кнопки */
            background-color: rgba(0, 0, 0, 0.8) !important; /* Колір фону вибраної кнопки */
        }

    /* Фон вводу тексту */
    .ck.ck-reset_all .ck-content {
        background-color: rgba(0, 0, 0, 0.8) !important; /* Колір темного фону для вводу тексту */
        color: wheat !important; /* Колір тексту вводу тексту */
        border-color: wheat !important; /* Колір обводки при натисканні на поле вводу тексту */
    }

        /* Зміна кольору обводки при фокусі на полі вводу тексту */
        .ck.ck-reset_all .ck-content:focus {
            border-color: wheat !important; /* Колір обводки при фокусі на полі вводу тексту */
        }

        /* Колір тексту та фону для параграфів у списку */
        .ck.ck-reset_all .ck-content ul li,
        .ck.ck-reset_all .ck-content ol li {
            color: wheat !important; /* Колір тексту для параграфів у списку */
            background-color: rgba(0, 0, 0, 0.6) !important; /* Колір фону для параграфів у списку */
        }

    /* Колір тексту для інструментів Heading, Bold, Italic, Link, Lists, Block quote, Undo, Redo */
    .ck.ck-reset_all .ck-toolbar-button[data-action="heading"],
    .ck.ck-reset_all .ck-toolbar-button[data-action="bold"],
    .ck.ck-reset_all .ck-toolbar-button[data-action="italic"],
    .ck.ck-reset_all .ck-toolbar-button[data-action="link"],
    .ck.ck-reset_all .ck-toolbar-button[data-action="bulletedList"],
    .ck.ck-reset_all .ck-toolbar-button[data-action="numberedList"],
    .ck.ck-reset_all .ck-toolbar-button[data-action="blockQuote"],
    .ck.ck-reset_all .ck-toolbar-button[data-action="undo"],
    .ck.ck-reset_all .ck-toolbar-button[data-action="redo"] {
        color: wheat !important; /* Колір тексту для вказаних інструментів */
    }

.ck.ck-editor__main > .ck-editor__editable {
    border-color: wheat;
    color: wheat !important; /* Колір тексту вводу тексту */
    background-color: rgba(0, 0, 0, 0.8) !important; /* Колір темного фону для вводу тексту */
    transition: background-color 0.2s ease-in-out; /* Зміна кольору плавно протягом 0.2 секунд при натисканні */
}

    .ck.ck-editor__main > .ck-editor__editable:focus {
        background-color: rgba(0, 0, 0, 0.6) !important; /* Світліший фон при натисканні */
    }

/* Стилізація для .ck.ck-list__item .ck-button */
.ck.ck-list__item .ck-button {
    color: wheat !important; /* Колір тексту */
    background-color: rgba(0, 0, 0, 0.8) !important; /* Колір фону */
    border-color: wheat !important; /* Колір обводки */
    transition: background-color 0.2s ease-in-out; /* Зміна кольору фону плавно протягом 0.2 секунд при наведенні */
}

    /* Зміна кольору фону при наведенні */
    .ck.ck-list__item .ck-button:hover {
        background-color: rgba(0, 0, 0, 0.6) !important;
    }

    /* Зміна кольору фону при натисканні */
    .ck.ck-list__item .ck-button:active {
        background-color: rgba(0, 0, 0, 0.4) !important;
    }

.name-box {
    background-color: rgba(0, 0, 0, 0.8);
    color: wheat;
}

.name-box {
    width: 100%;
    padding: 10px;
    border-width: 2px; /* Зміни товщину рамки за потребою */
    border-style: solid;
    border-color: wheat;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    color: wheat;
    margin-bottom: 15px;
}

/* Згладжені кути для поля вводу */
.name-box {
    border-radius: 2px;
}

.separator {
    margin: 0 10px; /* Встановіть відстань між іменем і датою, яка вам подобається */
}

.main-box {
    background-color: rgba(0, 0, 0, 0.8);
    color: wheat;
    text-align: center;
    border-radius: 10px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: wheat;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0; /* Додайте відступи по бажанню */
}

/* cтилі для кнопки "+" */
.create-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black; /* Чорний фон */
    border: 2px solid white; /* Білі рамки */
    border-radius: 6px; /* Заокруглені кути */
    color: wheat; /* Білий текст */
    padding: 10px 20px; /* Подбайте про відстань між текстом і краями кнопки */
    cursor: pointer; /* Змінює вигляд курсора при наведенні */
    transition: background-color 0.3s; /* Плавна анімація зміни кольору фону */
}

    .create-button:hover {
        background-color: rgba(64, 55, 30);
    }

    .create-button p {
        margin: 0; /* Видалити внутрішній відступ у тексту */
    }

.ck.ck-editor__editable_inline > :last-child {
    height: 300px; /* Задайте бажану висоту (наприклад, 300px) */
}
